---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"

interface Props {
	title: string;
	description: string;
	canonical?: string;
	robots?: string;
}

const {
	title = 'Electrical Service Experts | Battle Electric',
	description = 'Your trusted partner for all electrical services, from installations to repairs. Serving residential and commercial clients with expertise and reliability.',
	canonical,
	robots,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		{canonical && <link rel="canonical" href={canonical} />}
		{robots && <meta name="robots" content={robots} />}
		<ClientRouter />
		<!-- Start Ad360 Event Pixel Snippet -->
		<script is:inline>
			!function(e,t,n,i,p,s,a,c,o){e[p]||((a=e[p]=function(){a.process?a.process.apply(a,arguments):a.queue.push(arguments)}).queue=[],a.t=1*new Date,(c=t.createElement(n)).async=1,c.src="//cdn.ad360.media/js/ad360pixelevent.min.js?t="+864e5*Math.ceil(new Date/864e5),(o=t.getElementsByTagName(n)[0]).parentNode.insertBefore(c,o))}(window,document,"script",0,"ad360"),
			ad360("init","396120d6-cc31-48e9-875f-a4d3296ecbc2"),ad360("event","af3ed189-6d20-4eaf-93bb-c54218d0fc4e", {someData: 1, otherData: 'cool'});
		</script>
		<!-- End Ad360 Event Pixel Snippet -->
	</head>
	<body>
		<Analytics />
		<Header />
		<slot />
		<SpeedInsights />
		<Footer />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	body {
		background-color: #f3f3f3;
		margin: 0;
		width: 100%;
	}
</style>
